## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Georgetown,MY,2021-08-07 22:07:59,5.4112,100.3354,81.90,86,20,4.61,thunderstorm
1,1,Mataura,NZ,2021-08-07 22:07:26,-46.1927,168.8643,36.48,94,100,1.21,overcast clouds
2,2,Port-Cartier,CA,2021-08-07 22:07:49,50.0334,-66.8654,69.93,59,79,10.51,broken clouds
3,3,Hobart,AU,2021-08-07 22:11:33,-42.8794,147.3294,36.27,88,0,1.99,clear sky
4,4,Barrow,US,2021-08-07 22:11:33,71.2906,-156.7887,39.22,73,75,9.22,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_prompt_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_prompt_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
min_max_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_prompt_temp) &(city_data_df["Max Temp"] >= min_prompt_temp)]
min_max_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Georgetown,MY,2021-08-07 22:07:59,5.4112,100.3354,81.90,86,20,4.61,thunderstorm
7,7,Touros,BR,2021-08-07 22:11:34,-5.1989,-35.4608,77.90,77,73,17.87,broken clouds
10,10,Lalmohan,BD,2021-08-07 22:07:51,22.3384,90.7419,82.15,85,98,13.13,overcast clouds
12,12,Sioux Lookout,CA,2021-08-07 22:07:51,50.1001,-91.9170,77.27,39,99,7.20,overcast clouds
13,13,Faanui,PF,2021-08-07 22:09:18,-16.4833,-151.7500,78.22,72,27,6.89,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
min_max_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
dropped_rows_df = min_max_cities_df.dropna()
dropped_rows_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Georgetown,MY,2021-08-07 22:07:59,5.4112,100.3354,81.90,86,20,4.61,thunderstorm
7,7,Touros,BR,2021-08-07 22:11:34,-5.1989,-35.4608,77.90,77,73,17.87,broken clouds
10,10,Lalmohan,BD,2021-08-07 22:07:51,22.3384,90.7419,82.15,85,98,13.13,overcast clouds
12,12,Sioux Lookout,CA,2021-08-07 22:07:51,50.1001,-91.9170,77.27,39,99,7.20,overcast clouds
13,13,Faanui,PF,2021-08-07 22:09:18,-16.4833,-151.7500,78.22,72,27,6.89,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
672,672,Maneadero,MX,2021-08-07 22:11:20,31.7167,-116.5667,82.18,74,19,3.00,few clouds
679,679,Kerema,PG,2021-08-07 22:11:23,-7.9631,145.7785,75.61,88,100,3.36,overcast clouds
683,683,Salalah,OM,2021-08-07 22:14:03,17.0151,54.0924,77.09,94,90,5.75,light intensity drizzle
685,685,Pudur,IN,2021-08-07 22:11:24,13.0000,79.1500,81.82,64,95,10.09,overcast clouds
687,687,El Retorno,CO,2021-08-07 22:11:25,2.3302,-72.6276,77.41,82,93,2.26,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = dropped_rows_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Georgetown,MY,81.90,thunderstorm,5.4112,100.3354,
7,Touros,BR,77.90,broken clouds,-5.1989,-35.4608,
10,Lalmohan,BD,82.15,overcast clouds,22.3384,90.7419,
12,Sioux Lookout,CA,77.27,overcast clouds,50.1001,-91.9170,
13,Faanui,PF,78.22,scattered clouds,-16.4833,-151.7500,
14,Portland,US,84.45,overcast clouds,45.5234,-122.6762,
17,Kavaratti,IN,81.00,overcast clouds,10.5669,72.6420,
19,Bethel,US,82.49,clear sky,41.3712,-73.4140,
21,Avarua,CK,78.85,few clouds,-21.2078,-159.7750,
32,Jamestown,US,78.39,clear sky,42.0970,-79.2353,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Georgetown,MY,81.90,thunderstorm,5.4112,100.3354,Cititel Penang
7,Touros,BR,77.90,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
10,Lalmohan,BD,82.15,overcast clouds,22.3384,90.7419,Sundorbon courier service
12,Sioux Lookout,CA,77.27,overcast clouds,50.1001,-91.9170,Knobby's Fly-In Camps
13,Faanui,PF,78.22,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [12]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))